.social__icon {
  &--main {

    ul {
      text-align: left;
    }

    li {
      display: inline-block
    }

    a {
      gap: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 35px;
      width: 35px;
      // background-color: #fff;
      border-radius: 100%;
      margin: 0 25px 0 0;
    }
  }
}