/* Font Family */
$manrope-font: 'Manrope', sans-serif;

/* Colors */
$pureBlack: #000000;
$pureWhite: #ffffff;
$lightGray: #D8D8D8;
$darkVeryGray: #4e4e4e;
$veryDarkGray: #4d4d4d;
$veryGrayDark: #4b4b4b;
$veryDarkGrayishRed: #3f3e3e;
$gradient: linear-gradient(91.09deg, #8375F2 5.79%, #867BE6 48.91%, #7565F4 94.81%);
